<%-include(defaultView('partial/head'))%>
<%-include(defaultView('partial/navbar'))%>

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <a class="button" href="<%=baseUrl%>/list">
                <span class="mif-arrow-left"></span>
                Back to list
            </a>
            Run service - <%=parameters.serviceName%>
        </div>
        <div class="card-content p-5">
            <form method="POST">
                <% if (typeof error !== "undefined") { %>
                    <div class="remark alert">
                        <%=error%>
                    </div>
                <% } %>
                <div class="row">
                    <div class="cell-md-4">
                        <h3>Definition</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Property</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td><%=parameters.serviceName%></td>
                                </tr>
                                <tr>
                                    <td>Sync</td>
                                    <td><%=service.sync%></td>
                                </tr>
                                <tr>
                                    <td>Auth</td>
                                    <td><%=service.auth%></td>
                                </tr>
                                <tr>
                                    <td>Max Retries</td>
                                    <td><%=service.maxRetries%></td>
                                </tr>
                                <tr>
                                    <td>Cache</td>
                                    <td><%=service.cache%></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="cell-md-8">
                        <h3>Parameters</h3>
                        <% for (let parameter of service.parameters.filter(p => ["in", "inout"].indexOf(p.mode) > -1)) { %>
                            <div class="row mb-2">
                                <label class="cell-sm-2"><strong><%=parameter.name%> <%=(!parameter.optional) ? "*" : ""%></strong></label>
                                <label class="cell-sm-2 text-right"><%=parameter.type%></label>
                                <div class="cell-sm-8">
                                    <input type="text" name="<%=parameter.name%>" value="<%=body[parameter.name]%>">
                                </div>
                            </div>
                        <% } %>
                        <button class="button success">Run</button>
                    </div>
                </div>
            </form>
        </div>
        <% if (typeof result !== "undefined") { %>
            <div class="card-footer">
                <pre><%=JSON.stringify(result)%></pre>
            </div>
        <% } %>
    </div>
</div>